In [5]:
import pandas as pd
import numpy as np
import hdf5plugin
import h5py

In [6]:
file = '/Users/maddeerubenson/Downloads/FPV2Mb.h5'
hydro = h5py.File(file,'r')

In [72]:
base = '/Users/maddeerubenson/Downloads/H1Z_0.h5'
hydro_base = h5py.File(base,'r')

In [61]:
stage = hydro['hydro/data/channel stage']

In [73]:
base_stage = hydro_base['hydro/data/channel stage']

: = all 
0 = channel id 
0 = upstream; 1 = downstream (ref: geometry/channel location)
start date/time = 2016-01-01 00-00-00
end date/time is 2024-01-01 00:00:00
interval = 5 minutes

In [28]:
start_time = "2016-01-01 00:00:00"
end_time = "2024-01-01 00:00:00"

# Generate the time series with a 5-minute interval
time_series = pd.date_range(start=start_time, end=end_time, freq="5T")

# Create a DataFrame from the time series
df_time_series = pd.DataFrame(time_series, columns=["Datetime"])

df_time_series.head()

/var/folders/45/p22_x33n4s1dbmnzjdjzfr_80000gn/T/ipykernel_52928/3872148131.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  time_series = pd.date_range(start=start_time, end=end_time, freq="5T")

             Datetime
0 2016-01-01 00:00:00
1 2016-01-01 00:05:00
2 2016-01-01 00:10:00
3 2016-01-01 00:15:00
4 2016-01-01 00:20:00

In [74]:
# for baseline
base_start_time = "2020-01-01 00:00:00"
base_end_time = "2024-05-14 23:45:00"

# Generate the time series with a 5-minute interval
base_time_series = pd.date_range(start=base_start_time, end=base_end_time, freq="5T")

# Create a DataFrame from the time series
base_time_series = pd.DataFrame(base_time_series, columns=["Datetime"])

base_time_series.head()

/var/folders/45/p22_x33n4s1dbmnzjdjzfr_80000gn/T/ipykernel_52928/3094731507.py:6: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  base_time_series = pd.date_range(start=base_start_time, end=base_end_time, freq="5T")

             Datetime
0 2020-01-01 00:00:00
1 2020-01-01 00:05:00
2 2020-01-01 00:10:00
3 2020-01-01 00:15:00
4 2020-01-01 00:20:00

In [8]:
all_stage = stage[:,0,0]

In [22]:
stage

In [53]:
#OLD; channel id = 71
old_upstream = stage[:, 71, 0]
old_downstream = stage[:, 71, 1]

In [62]:
#DGL; channel id = 205; upnode = 56; downode = 171
dgl_upstream = stage[:, 205, 0]
dgl_downstream = stage[:, 205, 1]

In [66]:
# MHO id = 128
mho_upstream = stage[:, 128, 0]
mho_downstream = stage[:, 128, 1]

In [77]:
#baseline
base_old_upstream = base_stage[:, 71, 0]
base_old_downstream = base_stage[:, 71, 1]

base_dgl_upstream = base_stage[:, 205, 0]
base_dgl_downstream = base_stage[:, 205, 1]

base_mho_upstream = base_stage[:, 128, 0]
base_mho_downstream = base_stage[:, 128, 1]

In [56]:
df_old_upstream = pd.DataFrame(old_upstream, columns=["upstream_stage"])
df_old_downstream = pd.DataFrame(old_downstream, columns=["downstream_stage"])

df = pd.concat([df_old_upstream, df_old_downstream], axis = 1)
df

        upstream_stage  downstream_stage
0            10.432000         15.008000
1            10.432203         15.007815
2            10.435493         15.008294
3            10.449473         15.012300
4            10.476360         15.022776
...                ...               ...
841532       10.235268         14.767039
841533       10.187270         14.715638
841534       10.136885         14.660568
841535       10.083745         14.604394
841536       10.029849         14.551425

[841537 rows x 2 columns]

In [63]:
df_dgl_upstream = pd.DataFrame(dgl_upstream, columns=["upstream_stage"])
df_dgl_downstream = pd.DataFrame(dgl_downstream, columns=["downstream_stage"])

dgl_df = pd.concat([df_dgl_upstream, df_dgl_downstream], axis = 1)
dgl_df

        upstream_stage  downstream_stage
0            11.700000         11.703000
1            11.691543         11.698506
2            11.614029         11.651988
3            11.347808         11.463165
4            11.024039         11.124381
...                ...               ...
841532       10.949558         10.952247
841533       10.906884         10.915722
841534       10.855926         10.855654
841535       10.797088         10.798704
841536       10.739311         10.742247

[841537 rows x 2 columns]

In [67]:
df_mho_upstream = pd.DataFrame(mho_upstream, columns=["upstream_stage"])
df_mho_downstream = pd.DataFrame(mho_downstream, columns=["downstream_stage"])

mho_df = pd.concat([df_mho_upstream, df_mho_downstream], axis = 1)
mho_df

        upstream_stage  downstream_stage
0            19.907000         25.163811
1            19.906578         25.163576
2            19.906279         25.163193
3            19.905836         25.162859
4            19.905140         25.162233
...                ...               ...
841532       18.981323         24.222729
841533       18.934793         24.176683
841534       18.886534         24.129374
841535       18.835636         24.079800
841536       18.782423         24.027653

[841537 rows x 2 columns]

In [78]:
#baseline
base_df_mho_upstream = pd.DataFrame(base_mho_upstream, columns=["upstream_stage"])
base_df_mho_downstream = pd.DataFrame(base_mho_downstream, columns=["downstream_stage"])
base_mho_df = pd.concat([base_df_mho_upstream, base_df_mho_downstream], axis = 1)

base_df_old_upstream = pd.DataFrame(base_old_upstream, columns=["upstream_stage"])
base_df_old_downstream = pd.DataFrame(base_old_downstream, columns=["downstream_stage"])
base_old_df = pd.concat([base_df_old_upstream, base_df_old_downstream], axis = 1)

base_df_dgl_upstream = pd.DataFrame(base_dgl_upstream, columns=["upstream_stage"])
base_df_dgl_downstream = pd.DataFrame(base_dgl_downstream, columns=["downstream_stage"])
base_dgl_df = pd.concat([base_df_dgl_upstream, base_df_dgl_downstream], axis = 1)

In [57]:
old = pd.concat([df, df_time_series], axis=1)
old['channel_id'] = 71
old['channel_name'] = 'OLD'

old

,upstream_stage,downstream_stage,Datetime,channel_id,channel_name
0,10.432000,15.008000,2016-01-01 00:00:00,71,OLD
1,10.432203,15.007815,2016-01-01 00:05:00,71,OLD
2,10.435493,15.008294,2016-01-01 00:10:00,71,OLD
3,10.449473,15.012300,2016-01-01 00:15:00,71,OLD
4,10.476360,15.022776,2016-01-01 00:20:00,71,OLD
...,...,...,...,...,...
841532,10.235268,14.767039,2023-12-31 23:40:00,71,OLD
841533,10.187270,14.715638,2023-12-31 23:45:00,71,OLD
841534,10.136885,14.660568,2023-12-31 23:50:00,71,OLD
841535,10.083745,14.604394,2023-12-31 23:55:00,71,OLD
841536,10.029849,14.551425,2024-01-01 00:00:00,71,OLD

In [68]:
dgl = pd.concat([dgl_df, df_time_series], axis=1)
dgl['channel_id'] = 205
dgl['channel_name'] = 'DGL'

dgl

,upstream_stage,downstream_stage,Datetime,channel_id,channel_name
0,11.700000,11.703000,2016-01-01 00:00:00,205,DGL
1,11.691543,11.698506,2016-01-01 00:05:00,205,DGL
2,11.614029,11.651988,2016-01-01 00:10:00,205,DGL
3,11.347808,11.463165,2016-01-01 00:15:00,205,DGL
4,11.024039,11.124381,2016-01-01 00:20:00,205,DGL
...,...,...,...,...,...
841532,10.949558,10.952247,2023-12-31 23:40:00,205,DGL
841533,10.906884,10.915722,2023-12-31 23:45:00,205,DGL
841534,10.855926,10.855654,2023-12-31 23:50:00,205,DGL
841535,10.797088,10.798704,2023-12-31 23:55:00,205,DGL
841536,10.739311,10.742247,2024-01-01 00:00:00,205,DGL

In [70]:
mho = pd.concat([mho_df, df_time_series], axis=1)
mho['channel_id'] = 128
mho['channel_name'] = 'MHO'

mho

,upstream_stage,downstream_stage,Datetime,channel_id,channel_name
0,19.907000,25.163811,2016-01-01 00:00:00,128,MHO
1,19.906578,25.163576,2016-01-01 00:05:00,128,MHO
2,19.906279,25.163193,2016-01-01 00:10:00,128,MHO
3,19.905836,25.162859,2016-01-01 00:15:00,128,MHO
4,19.905140,25.162233,2016-01-01 00:20:00,128,MHO
...,...,...,...,...,...
841532,18.981323,24.222729,2023-12-31 23:40:00,128,MHO
841533,18.934793,24.176683,2023-12-31 23:45:00,128,MHO
841534,18.886534,24.129374,2023-12-31 23:50:00,128,MHO
841535,18.835636,24.079800,2023-12-31 23:55:00,128,MHO
841536,18.782423,24.027653,2024-01-01 00:00:00,128,MHO

In [80]:
#baseline

base_mho = pd.concat([base_mho_df, base_time_series], axis=1)
base_mho['channel_id'] = 128
base_mho['channel_name'] = 'MHO'

base_old = pd.concat([base_old_df, base_time_series], axis=1)
base_old['channel_id'] = 71
base_old['channel_name'] = 'OLD'

base_dgl = pd.concat([base_dgl_df, base_time_series], axis=1)
base_dgl['channel_id'] = 205
base_dgl['channel_name'] = 'DGL'

In [60]:
old.to_csv('/Users/maddeerubenson/Documents/git/SDG/sdg-dashboard/data-raw/data-exports/exports/old_stage_export.csv')

In [69]:
dgl.to_csv('/Users/maddeerubenson/Documents/git/SDG/sdg-dashboard/data-raw/data-exports/exports/dgl_stage_export.csv')

In [71]:
mho.to_csv('/Users/maddeerubenson/Documents/git/SDG/sdg-dashboard/data-raw/data-exports/exports/mho_stage_export.csv')

In [81]:
base_dgl.to_csv('/Users/maddeerubenson/Documents/git/SDG/sdg-dashboard/data-raw/data-exports/exports/dgl_baseline_stage_export.csv')
base_old.to_csv('/Users/maddeerubenson/Documents/git/SDG/sdg-dashboard/data-raw/data-exports/exports/old_baseline_stage_export.csv')
base_mho.to_csv('/Users/maddeerubenson/Documents/git/SDG/sdg-dashboard/data-raw/data-exports/exports/mho_baseline_stage_export.csv')