In [5]:
import pandas as pd
import numpy as np
import hdf5plugin
import h5py

In [6]:
file = '/Users/maddeerubenson/Downloads/FPV2Mb.h5'
hydro = h5py.File(file,'r')

In [7]:
stage = hydro['hydro/data/channel stage']

: = all 
0 = channel id 
0 = upstream; 1 = downstream (ref: geometry/channel location)
start date/time = 2016-01-01 00-00-00
end date/time is 2024-01-01 00:00:00
interval = 5 minutes

In [28]:
start_time = "2016-01-01 00:00:00"
end_time = "2024-01-01 00:00:00"

# Generate the time series with a 5-minute interval
time_series = pd.date_range(start=start_time, end=end_time, freq="5T")

# Create a DataFrame from the time series
df_time_series = pd.DataFrame(time_series, columns=["Datetime"])

df_time_series.head()

/var/folders/45/p22_x33n4s1dbmnzjdjzfr_80000gn/T/ipykernel_52928/3872148131.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  time_series = pd.date_range(start=start_time, end=end_time, freq="5T")

             Datetime
0 2016-01-01 00:00:00
1 2016-01-01 00:05:00
2 2016-01-01 00:10:00
3 2016-01-01 00:15:00
4 2016-01-01 00:20:00

In [8]:
all_stage = stage[:,0,0]

In [22]:
stage

In [53]:
#OLD; channel id = 71
old_upstream = stage[:, 71, 0]
old_downstream = stage[:, 71, 1]

In [56]:
df_old_upstream = pd.DataFrame(old_upstream, columns=["upstream_stage"])
df_old_downstream = pd.DataFrame(old_downstream, columns=["downstream_stage"])

df = pd.concat([df_old_upstream, df_old_downstream], axis = 1)
df

        upstream_stage  downstream_stage
0            10.432000         15.008000
1            10.432203         15.007815
2            10.435493         15.008294
3            10.449473         15.012300
4            10.476360         15.022776
...                ...               ...
841532       10.235268         14.767039
841533       10.187270         14.715638
841534       10.136885         14.660568
841535       10.083745         14.604394
841536       10.029849         14.551425

[841537 rows x 2 columns]

In [57]:
old = pd.concat([df, df_time_series], axis=1)
old['channel_id'] = 71
old['channel_name'] = 'OLD'

old

,upstream_stage,downstream_stage,Datetime,channel_id,channel_name
0,10.432000,15.008000,2016-01-01 00:00:00,71,OLD
1,10.432203,15.007815,2016-01-01 00:05:00,71,OLD
2,10.435493,15.008294,2016-01-01 00:10:00,71,OLD
3,10.449473,15.012300,2016-01-01 00:15:00,71,OLD
4,10.476360,15.022776,2016-01-01 00:20:00,71,OLD
...,...,...,...,...,...
841532,10.235268,14.767039,2023-12-31 23:40:00,71,OLD
841533,10.187270,14.715638,2023-12-31 23:45:00,71,OLD
841534,10.136885,14.660568,2023-12-31 23:50:00,71,OLD
841535,10.083745,14.604394,2023-12-31 23:55:00,71,OLD
841536,10.029849,14.551425,2024-01-01 00:00:00,71,OLD

In [60]:
old.to_csv('/Users/maddeerubenson/Documents/git/SDG/sdg-dashboard/data-raw/data-exports/exports/old_stage_export.csv')

In [ ]:
# MHO id = 128